.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Point{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

.Stage{
  border: 5px solid white;
}
