.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Point {
  position: relative;
  margin-top: -2vh;
  margin-bottom: -1vh;
  background-color: black;
  color: white;
}

.Stage {
  border: 4px solid white;
}